/* Page layout specific style should be here. Example: Grid, App Layout */

@import "../variables.scss";

.page-in-load{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.yo-container {
  padding: 0px $gutter;
  width: 100%;
  .yo-row {
    &.full-width {
      margin: 0px - $gutter;
      overflow: hidden;
    }
  }
}

.top-h-row-name {
  padding: 10px $gutter;
  color: rgb(70, 70, 70);
  & + {
    .top-h-row {
      padding: $gutter;
      white-space: nowrap;
      overflow-x: scroll;
      padding-top: 0px;
    }
  }
}

.form-wrapper {
  height: 60vh;
  fieldset {
    border: none;
    legend {
      font-weight: bold;
      margin-bottom: 1.6rem;
    }
  }
  .form-row {
    .help-text{
      display: none;
    }
    .form-control {
      width: 100%;
      display: block;
      border: 1px solid $bc;
      background: white;
      padding: $form-control-padding;
      margin: $form-control-margin;
      outline: none;
    }
    & + {
      .form-row {
        margin-top: 1.6rem;
      }
      .btn{
        margin-top: 1.6rem;
      }
    }
  }
}
