@import "../../variables.scss";
.danger {
	background: $red;
}
.primary {
	background: $blue;
}
.success {
	background: $green;
}
.warning {
	background: $orange;
}
.btn {
	min-height: 45px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 2px;
	cursor: pointer;
	color: $white;
	font-size: 0.9rem;
	padding: $form-control-padding;
	text-decoration: none;
	outline: 0;
	appearance: none;
	border: 0;
	text-transform: uppercase;
	text-shadow: none;
	box-shadow: none;
	transition: box-shadow ease-in 0.1s;
	&:active {
		top: 1px;
	}
	&:hover {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	}
	&:disabled {
		background: $disable;
	}
	& + {
		.btn {
			margin-left: 20px;
		}
	}
	i.lnr {
		margin-right: 0.5rem;
		font-size: $icon-size;
	}
}
