@import "../../variables.scss";

.card {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: $gutter;
  overflow: hidden;
  background: $green;
  white-space: normal;

  &:last-child {
    margin-right: 0px;
  }

  img {
    width: 100%;
    height: auto;
  }
}
