@import "../../variables.scss";
%yo-icon {
  width: $icon-size;
  height: $icon-size;
}
.app-header {
  .header-block {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    div {
      margin: 0px 5px;
      &:first-child {
        margin-left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
    .brand-logo {
      img {
        height: 25px;
      }
    }
    .slide-menu-icon,
    .user-profile-icon {
      img {
        @extend %yo-icon;
      }
    }
    .brand-or-page-name {
      flex-grow: 4;
      .brand-name {
        margin: 0px;
      }
    }
  }
}
