@import "../../variables.scss";

.custom-checkbox {
	display: inline-block;
	padding: 10px 30px 10px 0;
	transform: translateZ(0);
	label {
		cursor: pointer;
		padding-left: 0;
	}
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		margin: 0;
		z-index: -1;
		width: 0;
		height: 0;
		overflow: hidden;
		left: 0;
		pointer-events: none;
	}
	.checkbox-material {
		vertical-align: middle;
		position: relative;
		top: 3px;
		margin-right: 10px;
		&:before {
			position: absolute;
			left: 8px;
			top: 2px;
			content: "";
			background-color: rgba(0, 0, 0, 0.5);
			height: 4px;
			width: 4px;
			border-radius: 100%;
			z-index: 1;
			opacity: 0;
			margin: 0;
			background-color: $primary;
		}
		.check {
			color: $primary;
			position: relative;
			display: inline-block;
			width: $option-picker-size;
			height: $option-picker-size;
			border: 2px solid;
			border-radius: 2px;
			overflow: hidden;
			z-index: 1;
			&:before {
				position: absolute;
				content: "";
				transform: rotate(45deg);
				display: block;
				margin-top: -4px;
				margin-left: 6px;
				width: 0;
				height: 0;
				box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
				animation: checkbox-off 0.3s forwards ease-out;
			}
		}
		input[type="checkbox"]:checked + .checkbox-material .check {
			color: $primary;
		}
	}
	input[type="checkbox"] {
		&:focus + .checkbox-material .check:after {
			opacity: 0.2;
		}
		&:checked + .checkbox-material .check:before {
			box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
			animation: checkbox-on 0.3s forwards ease-out;
		}
		&:not(:checked) + .checkbox-material:before {
			animation: rippleOff 0.25s forwards ease-out;
		}
		&:checked + .checkbox-material:before {
			animation: rippleOn 0.25s forwards ease-out;
		}
		&:not(:checked) + .checkbox-material .check:after {
			animation: rippleOff 0.25s forwards ease-out;
		}
		&:checked + .checkbox-material .check:after {
			animation: rippleOn 0.25s forwards ease-out;
		}
		&:disabled:not(:checked) ~ .checkbox-material .check {
			color: $bc;
		}
		&:disabled:not(:checked) ~ .checkbox-material .check:before,
		&:disabled + .circle {
			opacity: 0.5;
    }
    &:disabled + .checkbox-material .check{
      color: $bc;
    }
		&:disabled + .checkbox-material .check:after {
			background-color: $bc;
			transform: rotate(-45deg);
		}
	}
}

@keyframes checkbox-on {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
	}

	50% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
	}

	100% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
	}
}

@keyframes checkbox-off {
	0% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}

	25% {
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
	}

	50% {
		transform: rotate(45deg);
		margin-top: -4px;
		margin-left: 6px;
		width: 0px;
		height: 0px;
		box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
	}

	51% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: $option-picker-size;
		height: $option-picker-size;
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
	}

	100% {
		transform: rotate(0deg);
		margin-top: -2px;
		margin-left: -2px;
		width: $option-picker-size;
		height: $option-picker-size;
		box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
	}
}

@keyframes rippleOn {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		transform: scale(13, 13);
	}
}

@keyframes rippleOff {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		transform: scale(13, 13);
	}
}

@keyframes ripple {
	0% {
		box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
	}

	50% {
		box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
	}

	100% {
		box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
	}
}

.custom-radio {
	margin: 16px 0;
	&.inline {
		display: inline-block;
	}
	input[type="radio"] {
		display: none;
		&:checked + label {
			&:before {
				border-color: $primary;
				animation: ripple 0.25s linear forwards;
			}
			&:after {
				transform: scale(1);
			}
		}
		&:disabled {
			+ label:before {
				border-color: $bc;
			}
			&:checked + label:after {
				background: $bc;
			}
		}
	}
	label {
		display: inline-block;
		height: $option-picker-size;
		position: relative;
		padding: 2px 30px;
		margin-bottom: 0;
		cursor: pointer;
		vertical-align: bottom;
		&:before,
		&:after {
			position: absolute;
			content: "";
			border-radius: 50%;
			transition: all 0.25s ease;
			transition-property: transform, border-color;
		}
		&:before {
			left: 0;
			top: 0;
			width: $option-picker-size;
			height: $option-picker-size;
			border: 2px solid rgba(0, 0, 0, 0.5);
		}
		&:after {
			top: 5px;
			left: 5px;
			width: 10px;
			height: 10px;
			transform: scale(0);
			background: $primary;
		}
	}
}
