/**
 * All common css will be added in index.css No component or element specipic
 * style should reside inside the component
 */

@import "../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import "variables.scss";

:root{
	font-size: 14px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
}

:not(input):not(textarea):not(button) {
	user-select: none;
}

body {
	color: $fc;
	background: $white;
	font-size: 1rem;
	line-height: 1.35rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $font-family-sans-serif;
}
