$red: #f44336;
$blue: #3f51b5;
$skyblue: #03a9f4;
$green: #4caf50;
$yellow: #ffeb3b;
$orange: #ff5722;
$white: #ffffff;
$primary: $skyblue;
$fc: #282c3f;
$bc: #dfe0e2;
$bcd: rgba(0, 0, 0, 0.5);
$disable: #9c9c9c;
$gutter: 15px;
$font-family-sans-serif: 'Poppins',sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$icon-size: 1.5rem;
$option-picker-size: 20px;
$form-control-padding:0.8rem 2rem;
$form-control-margin:0.4rem 0rem;
